{% extends 'layout.html' %}
{% block body %}
    



            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h2 class="fw-bolder mb-1">{{article.title}}</h2>
                            <p class="lead">{{article.author}}</p>
                            <hr>
                
                            <div class="text-muted fst-italic mb-2">{{article.created_date}}</div>
            
                        </header>
                        {% if article.article_image %}
                        <img src="{{article.article_image.url}}" alt="" class="img-fluid rounded">
                        {% endif %}
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{article.content|safe}}</p>
                        </section>
                    </article>
                </div>
            </div>
        
        






{% endblock %}